.trusted{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  background-color: lightgray;
  .container{
    width: 1400px;
    display: flex;
    justify-content: center;
    gap: 50px;
    span{
      font-weight: 800;
      font-size: 32px;
      color: gray;
    }

  }
}