.footer{
  display: flex;
  justify-content: center;
  .container{
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .top{
      //background-color: #1dbf73;
      display: flex;
      justify-content: space-around;

      .category{
        display: flex;
        flex-direction: column;
        gap: 20px;
        //background-color: red;
        padding: 10px;
        margin:10px 0;

        h1{
          font-weight: bolder;
          font-size: 24px;

        }
        span{
          font-weight: 700;
          font-size: 16px;
          font-family: "Roboto Condensed", sans-serif;
          color: #555;

        }

      }

    }
    .bottom {
      //background-color: #1dbf73;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {

        //background-color: red;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
      }

      .right {
        width: 70%;
        //background-color: #013914;
        display: flex;
        justify-content: space-around;

        .sub-left {
          //background-color: yellow;
          padding: 10px;
          width: 50%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &:hover{
              background-color: #d6d7d9;
              cursor: pointer;
            }
          }

        }

        .sub-right {
          width: 40%;

          //background-color: burlywood;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button{
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 25px;
            background-color: #fff;
            padding: 0 20px;
            color: #74747e;
            font-weight: 500;
            font-size: 24px;
            &:hover{
              background-color: #d6d7d9;
            }
          }
          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &:hover{
              background-color: #d6d7d9;
              cursor: pointer;
            }
          }


        }
      }
    }
  }
}